* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    text-align: center;
    background-color: #ccef !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    padding: 6rem;
    background: black !important;
  }
  
  .container h2 {
    color: #fff !important;
    font-family: sans-serif;
    font-size: 3rem;
    margin-bottom: 40px;
  }
  
  .input-container input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
  }
  
  button {
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(60, 59, 60) !important;
    color: #fff !important;
    border: none;
    margin: 10px;
  }

  button:hover{
    background-color: #ccef !important;
  }

  .btn.active {
    background-color: #ccef !important;
    color: black !important;
  }
  
  p {
    width: 400px;
    height: 400px;
    background: #ccef !important;
    color: #000 !important;
    height: 50px;
    border: 1px solid #555 !important;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    font-family: sans-serif;
    cursor: pointer;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  .capitalize {
    text-transform: capitalize;
  }
  
  .underline {
    text-decoration: underline;
  }
  
  .italic {
    font-style: italic;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
    border-bottom: solid 1px #6d7584;
    background-color: #273243;
  }
  
  nav a {
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px rgb(22, 22, 22);
    text-align: center;
    text-decoration: none;
    color: #1b1b1b;
  }
  
  nav a[aria-current='page'] {
    color: #000;
    background-color: #d4d4d4;
  }
  